<!-- bilancia.component.html -->
<div>
  <h2>Saving Buster</h2>

  <label for="importo">Importo: </label>
  <input type="number" id="importo" [(ngModel)]="numero" />

  <button (click)="aggiungiTransazione('entrata')">Aggiungi Entrata</button>
  <button (click)="aggiungiTransazione('spesa')">Aggiungi Spesa</button>

  <div class="tables-container">
    <table class="entrata-table">
      <caption>Entrata</caption>
      <tr *ngFor="let e of entrata; let i = index">
        <td>{{ e.importo | currency:'EUR' }}</td>
        <td><button (click)="eliminaTransazione('entrata', i)">Elimina</button></td>
      </tr>
    </table>

    <table class="spesa-table">
      <caption>Spesa</caption>
      <tr *ngFor="let s of spesa; let i = index">
        <td>{{ s.importo | currency:'EUR' }}</td>
        <td><button (click)="eliminaTransazione('spesa', i)">Elimina</button></td>
      </tr>
    </table>
  </div>

  <!-- <button (click)="calcolaSomma('entrata')">Calcola Entrata</button> -->
  <p>Sum Entrata: {{ calcolaSomma('entrata') | currency:'EUR' }}</p>

  <!-- <button (click)="calcolaSomma('spesa')">Calcola Spesa</button> -->
  <p>Sum Spesa: {{ calcolaSomma('spesa') | currency:'EUR' }}</p>

  <!-- <button (click)="calcolaBilancia()">Calcola Bilancio</button> -->
  <p>Bilancio: {{ calcolaBilancia() | currency:'EUR' }}</p>
</div>
